<!-- Assets -->
<script type="text/javascript" src="{{ "/dependencies/jquery-3.4.1.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/dependencies/popper.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/dependencies/bootstrap/bootstrap.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/dependencies/plyr/plyr.js" | relURL }}"></script>

{{ if site.Params.darkMode.enable }}
    {{ if eq site.Params.darkMode.provider "darkreader" }}
        <script type="text/javascript" src="{{ "/dependencies/darkreader.js" | relURL }}"></script>
        <script type="text/javascript" src="{{ "/js/darkmode-darkreader.js" | relURL }}"></script>
    {{ end }}
{{ end }}


<!-- Site scripts -->
<script type="text/javascript" src="{{ "/js/main.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/js/navbar.js" | relURL }}"></script>