{{ if .Get "figcaption"}}
    <figure>
{{end}}

    <img src="{{ .Get "src" }}"
        {{ if .Get "title"}}
            alt="{{.Get "title" }}"
        {{end}}
        {{ if .Get "width" }}
            width="{{.Get "width" }}"
        {{end}}
        {{ if .Get "height" }}
            height="{{.Get "height"}}"
        {{end}}
        {{ if .Get "float" }}
            style="float: {{.Get "float" }};"
        {{end}}
        {{ if .Get "align" }}
            class="{{.Get "align" }}"
        {{end}}
        {{ if .Get "alt" }}
            alt="{{.Get "alt" }}"
        {{end}}
    >
{{ if .Get "figcaption"}}
    <figcaption>{{.Get "figcaption"}}</figcaption>
</figure>
{{end}}