{{ $lang := .Get 0 | default "fr" }}
{{ $class := .Get 1 | default "" }}
{{ $data := .Site.Data.certifs.courses }}

{{ $categs := slice }}
{{ range $data }}
    {{ $categs = $categs | append .categ | uniq }}
{{ end }}
<fieldset>
    <legend>{{ i18n "filters" }}</legend>
    <label for="categ-select">{{ i18n "categories" }} :</label>
    <select name="categslist" id="categ-select" class="form-control">
        <option value=""></option>
        {{ range $categs }}
            <option value="{{.}}">{{.}}</option>
        {{ end }}
    </select>
</fieldset>
<br/>
<table class="datatable-{{ $lang }} dt {{ $class }}" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th style="text-align:center">Date</th>
        <th style="text-align:center">{{ i18n "course_name" }}</th>
        <th style="text-align:center">{{ i18n "certificate" }}</th>
        <th style="text-align:center">{{ i18n "categories" }}</th>
        <th style="text-align:center">Site</th>
    </tr>
    </thead>
    <tbody>
        {{ range $data}}
            <tr>
                <td style="text-align:center">{{ .date }}</td>
                <td>
                    <a href="{{ .link }}" target="_blank">{{ .name }}</a>
                </td>
                <td style="text-align:center">
                    <a href="{{ .diploma }}" class="btn btn-outline-info" target="_blank"><span>🎓</span></a>
                </td>
                <td style="text-align:center">{{ .categ }}</td>
                <td style="text-align:center">{{ .platform }}</td>             
            </tr>
        {{ end }}
    </tbody>
</table>

