{{ $lang := .Get 0 | default "fr" }}
{{ $class := .Get 1 | default "" }}
{{ $data := .Site.Data.certifs.courses }}

{{ $categs := slice }}
{{ range $data }}
    {{ $categs = $categs | append .categ | uniq }}
{{ end }}

<div id="pdfModal" class="modal">
    <div class="modal-content">
        <span class="closebtn" onclick="closeModal()">&times;</span>
        <iframe id="pdfViewer" frameborder="0" width="100%" height="100%"></iframe>
    </div>
</div>
<fieldset>
    <legend>{{ i18n "filters" }}</legend>
    <label for="categ-select">{{ i18n "categories" }} :</label>
    <select name="categslist" id="categ-select" class="form-control">
        <option value=""></option>
        {{ range $categs }}
            <option value="{{.}}">{{.}}</option>
        {{ end }}
    </select>
</fieldset>
<br/>
<table class="datatable-{{ $lang }} dt {{ $class }}" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th style="text-align:center">Date</th>
        <th style="text-align:center">{{ i18n "course_name" }}</th>
        <th style="text-align:center">{{ i18n "certificate" }}</th>
        <th style="text-align:center">{{ i18n "categories" }}</th>
        <th style="text-align:center">Site</th>
    </tr>
    </thead>
    <tbody>
        {{ range $data}}
            <tr>
                <td style="text-align:center">{{ .date }}</td>
                <td>
                    <a href="{{ .link }}" target="_blank">{{ .name }}</a>
                </td>
                <td style="text-align:center">
                    <a href="{{ .diploma }}"   onclick="openModal('{{ .diploma }}'); return false;" class="btn btn-outline-info" target="_blank"><span>🎓</span></a>
                </td>
                <td style="text-align:center">{{ .categ }}</td>
                <td style="text-align:center">{{ .platform }}</td>             
            </tr>
        {{ end }}
    </tbody>
</table>


<script>

    function openModal(pdfPath) {
        var modal =  document.getElementById('pdfModal');
        var pdfViewer =  document.getElementById('pdfViewer');
        // load pdf into iframe
        pdfViewer.src = pdfPath;
        // display modal
        modal.style.display = 'block';
        // event to listen clicks outside the modal
        window.addEventListener('click', outsideModalClick);
    };
    
    function closeModal() {
        var modal =  document.getElementById('pdfModal');
        var pdfViewer =  document.getElementById('pdfViewer');
        // reset iframe and hide modal
        pdfViewer.src = '';
        modal.style.display = 'none';
        // remove event to listen click outside the modal
        window.removeEventListener('click', outsideModalClick);
    };

    function outsideModalClick(event) {
        var modal = document.getElementById('pdfModal');
        // Vérifie si le clic n'est pas à l'intérieur de la modale
        if (event.target === modal) {
            closeModal();
        }
    }
</script>